.hole {
  background: url("/hole.png") no-repeat center/contain;
}

.mole {
  background-image: url("/mole.png");
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #3e2723;
  background-color: #f5eedc;
}
h1 {
  color: #5d4037;
}

h2 {
  color: #5d4037;
}

#root {
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
}

.welcome {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.scoreboard {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  border: 2px solid #795548;
  border-radius: 1rem;
  background-color: #efebe9;
  width: 350px;
  margin: auto;
}

.mole-zone {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
  grid-auto-rows: 115px;
  padding: 16px;
  margin: 0px;
}

.welcome button {
  width: 200px;
  margin: auto;
}
